* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
  background-color: #e0ffdd;
}

.right {
  width: 75%;
}

.tile {
  list-style: none;
}

.tile-header h3 {
  margin-bottom: 0;
}

.tile-header h4 {
  margin: 0;
  font-style: italic;
}

.tile-header h5 {
  margin: 2px;
}

.left h2 {
  margin-bottom: 5px;
}

.right h2 {
  margin-left: 40px;
}

.tile ul {
  list-style: none;
}

.tile ul li:before {
  content: '✓';
  list-style: none;
  margin-left: -20px;
}

.feedback {
  color: #DF0700;
  font-weight: bold;
}

.hidden {
  display: none;
}

.form-input {
  margin-bottom: 10px;
}

.add-confirm {
  color: #008000;
  font-weight: bold;
  margin-left: 40px;
  font-size: 1.5em;
}

.sort-filter-criteria {
  margin-top: 0px;
  margin-bottom: 10px;
}

.sort-filter-criteria h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  color: #008000;
}

.catalog {
  padding-bottom: 50px;
}

div.gallery {
  margin: 40px;
  float: left;
  width: 200px;
}

div.name {
  text-align: center;
}

div.sort-filter {
  float: right;
  margin-left: 20px;
}

div.login {
  float: left;
}

div.row {
  margin-bottom: 40px;
}

div.catalog-gallery {
  padding: 40px;
}

.filter-dropdown {
  position: relative;
  display: inline-block;
}

.filter-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 200px;
  overflow: auto;
  border: 1px solid #ddd;
}

.filter-dropdown-content ul {
  list-style: none;
}

.show {
  display: block;
}

.space {
  margin-top: 10px;
}
